doctype html
html
	head
		title Create Session Json
		link(rel='stylesheet' href='css/bootstrap.css')
		script(src='js/jquery-2.1.4.js')
		script(src='js/bootstrap.js')
		
		script.
			$(document).ready(function(){
				$("#btnAddScene").on("click", function(){
					var sceneIndex = $("div[name=scene]").length-1;
					var sceneItem = '';
					sceneItem += '<div id="scene'+sceneIndex+'" name="scene" style="padding-left: 10px;">';
					sceneItem += '	<div class="form-inline">';
					sceneItem += '		<div class="form-group">';
					sceneItem += '			<label>Scene name</label>';
					sceneItem += '			<input type="text" id="sceneName'+sceneIndex+'" style="margin-left:10px;" class="form-control"></div>';
					sceneItem += '	<div style="padding-left: 10px;" class="checkbox">';
					sceneItem += '		<label for="checkedReserve'+sceneIndex+'">Reserve</label>';
					sceneItem += '		<input type="checkbox" id="checkedReserve0" value="Reserve"></div>';
					sceneItem += '	<button id="btnRemoveSelectedScene" style="margin-left: 10px;" class="btn btn-danger btn-xs">';
					sceneItem += '		<span class="glyphicon glyphicon-remove"></span></button></div>';
					sceneItem += '<div id="guide'+sceneIndex+'" name="guide'+sceneIndex+'" index="'+sceneIndex+'" class="form-group">';
					sceneItem += '	<label>Guide</label>';
					sceneItem += '	<div role="group" style="padding-left: 10px;" class="btn-group">';
					sceneItem += '	<button id="btnAddGuide" class="btn btn-primary btn-xs">';
					sceneItem += '		<span class="glyphicon glyphicon-plus"></span></button>';
					sceneItem += '	<button id="btnRemoveGuide" class="btn btn-primary btn-xs">';
					sceneItem += '		<span class="glyphicon glyphicon-minus"></span></button></div></div>';
					sceneItem += '<div id="main'+sceneIndex+'" name="main'+sceneIndex+'" index="'+sceneIndex+'" class="form-group">';
					sceneItem += '	<label>Main workout</label>';
					sceneItem += '	<div role="group" style="padding-left: 10px;" class="btn-group">';
					sceneItem += '		<button id="btnAddMain" class="btn btn-primary btn-xs">';
					sceneItem += '			<span class="glyphicon glyphicon-plus"></span></button>';
					sceneItem += '		<button id="btnRemoveMain" class="btn btn-primary btn-xs">';
					sceneItem += '			<span class="glyphicon glyphicon-minus"></span></button></div></div>';
					sceneItem += '<div id="rest'+sceneIndex+'" class="form-group">';
					sceneItem += '	<label>Rest</label>';
					sceneItem += '	<div style="margin-left: 10px;">';
					sceneItem += '		<div class="form-inline">';
					sceneItem += '			<label>delay time</label>';
					sceneItem += '			<input type="number" id="restDelayTime'+sceneIndex+'" placeholder="second" style="margin-left: 10px; width: 86px;" class="form-control"></div>';
					sceneItem += '		<div id="restSound'+sceneIndex+'" name="restSound'+sceneIndex+'" index="'+sceneIndex+'">';
					sceneItem += '			<label>Rest comment</label>';
					sceneItem += '			<div role="group" style="padding-left: 10px;" class="btn-group">';
					sceneItem += '				<button id="btnAddRestSound" class="btn btn-primary btn-xs">';
					sceneItem += '					<span class="glyphicon glyphicon-plus"></span></button>';
					sceneItem += '				<button id="btnRemoveRestSound" class="btn btn-primary btn-xs">';
					sceneItem += '					<span class="glyphicon glyphicon-minus"></span></button></div></div>';
					sceneItem += '		<div>';
					sceneItem += '			<label>Next workout</label>';
					sceneItem += '				<input type="file" id="nextWorkout'+sceneIndex+'"></div></div></div></div></div>';
					
					$("#scene").append(sceneItem);
				});
				$("#btnRemoveScene").on("click", function(){
					var sceneIndex = $("div[name=scene]").length-2;
					
					if(sceneIndex >= 0){
						$("#scene" + sceneIndex).remove();
					}
				});
				
				$(document).on("click", "#btnRemoveSelectedScene", function(){
					var sceneID = "#" + $(this).parent().parent().attr("id");
					
					$(sceneID).remove();
				});
				
				$(document).on("click", "#btnAddGuide", function(){
					var guideGroupingName = $(this).parent().parent().attr("name");
					var guideIndex = $("div[name=" + guideGroupingName + "]").length-1;
					var SceneIndex = $(this).parent().parent().attr("index");
					var guideItem = '';
					guideItem += '<div id="guide'+SceneIndex+'_'+guideIndex+'" name="guide'+SceneIndex+'" style="margin-left:10px;">';
					guideItem += '	<div class="form-inline">';
					guideItem += '		<label>Workout name</label>'
					guideItem += '			<input type="text" id="guideWorkoutName'+SceneIndex+'_'+guideIndex+'" style="margin-left: 10px;" class="form-control"></div>';
					guideItem += '	<div>';
					guideItem += '		<label>workout gif file</label>';
					guideItem += '		<input type="file" id="guideWorkoutGif'+SceneIndex+'_'+guideIndex+'">'
					guideItem += '		<label>intro sound file</label>';
					guideItem += '		<input type="file" id="guideWorkoutIntroSound'+SceneIndex+'_'+guideIndex+'"></div></div></div>';
					
					$("#"+guideGroupingName).append(guideItem);
				});
				$(this).on("click", "#btnRemoveGuide", function(){
					var guideGroupingName = $(this).parent().parent().attr("name");
					var guideIndex = $("div[name=" + guideGroupingName + "]").length-2;
					
					$("#" + guideGroupingName + "_" + guideIndex).remove();
				});
				
				$(document).on("click", "#btnAddMain", function(){
					var mainGroupingName = $(this).parent().parent().attr("name");
					var mainIndex = $("div[name=" + mainGroupingName + "]").length-1;
					var SceneIndex = $(this).parent().parent().attr("index");
					var mainItem = '';
					mainItem += '<div id="main'+SceneIndex+'_'+mainIndex+'" name="main'+SceneIndex+'" style="margin-left: 10px;">';
					mainItem += '	<div class="form-inline">';
					mainItem += '		<label>Workout name</label>';
					mainItem += '		<input type="text" id="mainWorkoutName'+SceneIndex+'_'+mainIndex+'" style="margin-left: 10px;" class="form-control"></div>';
					mainItem += '	<div class="form-inline">';
					mainItem += '		<label>delay time</label>';
					mainItem += '		<input type="number" id="mainDelayTime'+SceneIndex+'_'+mainIndex+'" placeholder="second" style="margin-left: 10px; width: 86px;" class="form-control"></div>';
					mainItem += '	<div id="mainSound'+SceneIndex+'_'+mainIndex+'" name="mainSound'+SceneIndex+'_'+mainIndex+'" index="'+SceneIndex+'_'+mainIndex+'">';
					mainItem += '		<label>workout run mp3 file</label>';
					mainItem += '		<div role="group" style="padding-left: 10px;" class="btn-group">';
					mainItem += '			<button id="btnAddMainSound" class="btn btn-primary">';
					mainItem += '				<span class="glyphicon glyphicon-plus"></span></button>';
					mainItem += '			<button id="btnRemoveMainSound" class="btn btn-primary">';
					mainItem += '				<span class="glyphicon glyphicon-minus"></span></button></div></div></div></div>';
					
					$("#"+mainGroupingName).append(mainItem);
				});
				$(document).on("click", "#btnRemoveMain", function(){
					var mainGroupingName = $(this).parent().parent().attr("name");
					var mainIndex = $("div[name=" + mainGroupingName + "]").length-2;
					
					$("#" + mainGroupingName + "_" + mainIndex).remove();
				});
				
				$(document).on("click", "#btnAddMainSound",function(){
					var mainSoundGroupingName = $(this).parent().parent().attr("name");
					var mainSoundIndex = $("[name=" + mainSoundGroupingName + "]").length-1;
					var sceneMainIndex = $(this).parent().parent().attr("index");
					var mainSoundItem = '';
					mainSoundItem += '<input type="file" name="mainSound'+sceneMainIndex+'" id="mainSound'+sceneMainIndex+'_'+mainSoundIndex+'">';
					
					$("#"+mainSoundGroupingName).append(mainSoundItem);
				});
				$(document).on("click", "#btnRemoveMainSound",function(){
					var mainSoundGroupingName = $(this).parent().parent().attr("name");
					var mainSoundIndex = $("[name=" + mainSoundGroupingName + "]").length-2;
					
					$("#" + mainSoundGroupingName + "_" + mainSoundIndex).remove();
				});
				
				$(document).on("click", "#btnAddRestSound",function(){
					var restSoundGroupingName = $(this).parent().parent().attr("name");
					var restSoundIndex = $("[name=" + restSoundGroupingName + "]").length-1;
					var sceneIndex = $(this).parent().parent().attr("index");
					var restSoundItem = '';
					restSoundItem += '<input type="file" name="restSound'+sceneIndex+'" id="restSound'+sceneIndex+'_'+restSoundIndex+'">';
					
					$("#"+restSoundGroupingName).append(restSoundItem);
				});
				$(document).on("click", "#btnRemoveRestSound",function(){
					var restSoundGroupingName = $(this).parent().parent().attr("name");
					var restSoundIndex = $("[name=" + restSoundGroupingName + "]").length-2;
					
					$("#" + restSoundGroupingName + "_" + restSoundIndex).remove();
				});
			});
			
	body
		div.input-group(style="width: 500px; padding-top: 10px; padding-left: 10px;") 
			span.input-group-addon(id="programAddon") Program name
			select.selectpicker.form-control(id="selProgramID" aria-describedby="programAddon")
				each value in result
					option(value=value.programID)= value.programName
		
		div.input-group(style="width: 500px; padding-top: 10px; padding-left: 10px;") 
			span.input-group-addon(id="sessionAddon") Session name
			input.form-control(type="text" id="sessionName" placeholder="ex) hotsummerHotbodySession1" aria-describedby="sessionAddon")
		
		div.form-group(id="scene" name="scene" style="padding-top: 10px; padding-left: 10px;")
			label Scene
			div.btn-group(role="group" style="padding-left: 10px; padding-top: 10px;")
				button.btn.btn-primary.btn-xs(id="btnAddScene")
					span.glyphicon.glyphicon-plus
				button.btn.btn-primary.btn-xs(id="btnRemoveScene")
					span.glyphicon.glyphicon-minus
		